body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;

    margin-top: 30px;
    color: #0a0a0a;
    background-color: #fafafa;
}
.header {
    color: #a0a0a0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header,
.footer,
.content-container__title {
    text-align: center;
}
.footer {
    margin-top: 20px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.navigation__item {
    display: inline-block;
}
.navigation__link {
    text-decoration: none;
    margin: 0 17px;
}
.navigation__link {
    color: #a0a0a0;
}
.navigation_color-white .navigation__link {
    color: #fafafa;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.content-container__title {
    font-size: 5.8rem;
    font-stretch: ultra-condensed;
    margin-bottom: 0;
}

.content-container__title {
    margin-top: 0;
    margin-bottom: 0;
}

.h1 {
    font-weight: 700;
    font-size: 3.55rem;
    margin: 5px 0 0;
}

.content-container__chapter,
.footer {
    background: #363636;
    color: #fafafa;
    font-size: 0.8rem;
}
.content-container__chapter {
    padding: 22px;
    font-size: 15px;
    border-radius: 5px;
    margin: 30px 0;
}
.content-container__text {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.big-pictures {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.big-pictures__item {
    text-align: center;
    width: calc(min(50vw - 10px, 598px));
    min-width: 294px;
}

.big-pictures__img {
    max-width: 100%;
}

.small-pictures {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 2px 0 0;
    padding: 0;
}

.information-container {
    margin: 0 auto;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-container-item {
    width: 100%;
    padding: 10px;
    border: 2px solid #a0a0a0;
    margin-top: 35px;
}
.information-container-item_title {
    position: relative;
    font-size: 1.3rem;
    width: 50%;
    margin: 0;
    margin-bottom: -2px;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 3px solid #0a0a0a;
}
.information-container-item .container-icons {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 35px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #a0a0a0;
}
.container-icon__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.container-icon__item img {
    width: 100%;
    max-width: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.container-icons_title {
    text-align: start;
    padding-top: 15px;
    color: #a0a0a0;
}

.information-container-item .users {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 2px solid #a0a0a0;
}

.users__item {
    padding-top: 10px;
    width: 180px;
    display: flex;
    flex-direction: row;
}

.users__item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.users__information {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.users__title {
    font-size: 1.2rem;
    margin: 2px 0;
}

.users__more-information {
    color: #a0a0a0;
}
